@import "tailwindcss";

@theme {
  --color-battle-black: #0a0a0a;
  --color-battle-dark: #121212;
  --color-battle-grey: #2a2a2a;
  --color-battle-orange: #ff6600;
  --color-battle-orangeLight: #ff8533;
  --color-battle-white: #ffffff;
}
